 *{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  body {
    background-color: #000;
    color: #777;
  }
  body a {
    color: #777;
    text-decoration: none;
    transition: 0.4s;
  }
  body a:hover {
    color: #20C997;
  }
  body ul {
    list-style: none;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("bg.png") no-repeat center;
    background-size: cover;
    -webkit-animation: backgroundZoomAnimate 20s forwards;
            animation: backgroundZoomAnimate 20s forwards;
  }

  @-webkit-keyframes backgroundZoomAnimate {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
  @keyframes backgroundZoomAnimate {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
  
  .certificados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 175px;
    padding: 1.5rem 0;
    margin: 0 auto;
    text-align: center;
  } 
  
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    padding: 0;
    background-color: none;
  }
  
  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7rem;
    width: 31%;
    height: 400px;
    margin-bottom: 4%;
    color: #FFF;
  }
  .pictureLabels {
    background-color: transparent;
    padding-bottom: 10px;
    position:absolute;
    bottom: 0px;
  }
  
  .btn {
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 8px 30px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: transparent;
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
  
  .card0 {
    background-image: url("fotoscertificados/JSavanzado.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card0:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/JSavanzado.png");
  }
  
  .card1 {
    background-image: url("fotoscertificados/JSintermedio.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card1:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/JSintermedio.png");
  }
  
  .card2 {
    background-image: url("fotoscertificados/Php.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card2:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/Php.png");
  }
  
  .card3 {
    background-image: url("fotoscertificados/JSprincipiantes.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card3:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/JSprincipiantes.png");
  }
  
  .card4 {
    background-image: url("fotoscertificados/BashScript.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card4:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/BashScript.png");
  }
  
  .card5 {
    background-image: url("fotoscertificados/Ciberseguridad.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card5:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/Ciberseguridad.png");
  }
  
  .card6 {
    background-image: url("fotoscertificados/Docker.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card6:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/Docker.png");
  }

  .card7 {
    background-image: url("fotoscertificados/Git.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card7:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/Git.png");
  }

  .card8 {
    background-image: url("fotoscertificados/JSprofesional.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
  }
  .card8:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fotoscertificados/JSprofesional.png");
  }
  
  footer {
    text-align: center;
    margin: 20px 0px;
    color: #20C997;
  }
  
  @media (max-width: 790px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
    .cards {
      width: 100%;
      align-items: center¡;
    }
    .cardContainer {
      width: 80%;
      height: 350px;
    }
  }
  @media (max-width: 450px) {
    .navbar ul {
      justify-content: center;
      gap: 15px;
    }
  }